
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>NewsBlog a Blog Category Bootstrap Responsive Website Template | Contact : W3layouts</title>

    <link href="//fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

    <!-- Template CSS -->
    <link rel="stylesheet" href="static/assets/css/style-starter.css">
  </head>
  <body>
    <br><br>
    <center>
        <div class="col-lg-8 form-inner-cont">

                    <h1>Register Now!!</h1>
                    <br>

                    <form action="/register" method="post" class="signin-form">

                        <div class="form">
                            <center>
                            <div class="form-input">
                                <input type="text" name="full_name" id="w3lName" placeholder="Enter your full name"
                                    required="" />
                            </div>
                            <br>
                            <div class="form-input">
                                <input type="text" name="email" id="w3lSubject" placeholder="Enter your Email "
                                    required />
                            </div>
                            <br>
                            <div class="form-input">
                                <input type="password" name="password" id="w3lSender" placeholder="Enter your Password"
                                    required />
                            </div>
                            <br>
                            <div class="form-input">
                                <input type="password" name="repassword" id="w3lPhone" placeholder="Enter Password Again"
                                    required />
                            </div>
                        </center>
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-style btn-primary">REGISTER</button>
                        </div>
                    </form>
                </div>
    </center>
 
<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll which navbar is in active -->

<!-- Template JavaScript -->
<script src="static/assets/js/jquery-3.3.1.min.js"></script>

<!-- theme changer js -->
<script src="static/assets/js/theme-change.js"></script>
<!-- //theme changer js -->

<!-- courses owlcarousel -->
<script src="static/assets/js/owl.carousel.js"></script>

<!-- script for testimonials -->
<script>
  $(document).ready(function () {
    $('.owl-testimonial').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsiveClass: true,
      autoplay: false,
      autoplayTimeout: 5000,
      autoplaySpeed: 1000,
      autoplayHoverPause: false,
      responsive: {
        0: {
          items: 1,
          nav: false
        },
        480: {
          items: 1,
          nav: false
        },
        667: {
          items: 1,
          nav: true
        },
        1000: {
          items: 1,
          nav: true
        }
      }
    })
  })
</script>
<!-- //script for testimonials -->

<!-- bootstrap -->
<script src="static/assets/js/bootstrap.min.js"></script>

  </body>

</html>